@import "login";
@import "mixin";
@import "dashboard";
@import "table";
@import "order";
@import "sign";
@import "salary";
@import "absent";
@import "employe";

body {
  height: 100vh;
  overflow-y: hidden;
  background: #f8f8f8;
  ::-webkit-scrollbar {
    display: none;
  }
}
th.dtr-control:before {
  background-color: #fff;
}
